.about{
    margin-top: 4rem;
}

.about-header {
    display: flex;
    align-items: center;
   width: 100%;
   font-size: 2rem;
}
.about-header span{
    margin-left: 1rem;
    width: 70%;
   
    border-bottom: 2px solid black;
}
.about-content{
    margin-top: 1.5rem;
    line-height: 2rem;
    font-size: 1.5rem;
    font-weight: 500;
}
.about-techStack{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    
}